*{
    padding:0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

html{
    background-color: #eeeeee;
}

.container{
    width: 730px;
    margin: auto;
}

.image{
    background-color: #ffffff;
    height: 60px;

}
.image img{
    height: 40px;
    padding: 10px;
}

.main-menu{
    background-color: #152733;
    height: 50px;
}

.main-menu .items ul li{
    color: white;
    font-size: 12px;
    display: inline-block;
    line-height: 50px;
    margin-left: 30px;
}

.header-image img{
    height: 300px;
    width: 730px;
    margin-top: 15px;
}

.company-info{
    margin-top: 25px;
    margin-bottom: 25px;
}

.text-content{
    width: 230px;
    height: 160px;
    background-color: #ffffff;
    display: inline-block;
    margin-right: 10px;
    padding: 2px;

}
.text-content:last-of-type{
    margin-right: 0px;
}

.text-content p{
    font-size: 12px;
}

h2{
    font-size: 20px;
    display: block;
    margin: 5px;
}

.main-info{
    background-color: white;
    height: 270px;

}

.text-content2{
    float: left;
    margin: 15px;
    width: 400px;
    height: 220px;
}

.navigation ul{

    background-color: #e8e8e8;
    width: 220px;
    height: 200px;
}

.navigation{
    float: right;
    margin-right: 15px;
    margin-top: 15px;
}

.navigation ul li{
    list-style: none;
    line-height: 45px;
    margin-left: 15px;
}

h1{
    margin-bottom: 20px;
    font-size: 25px;
}

.main-gallery ul li{
    display: inline-block;
    list-style: none;

}

.main-gallery ul li img{
    width: 179px;
    height: 100px;
    box-shadow: 5px 10px #888888;
}

#gallery-header{
    font-size: 25px;
    display: block;
    margin: 20px;
    text-align: center;
}

.foot{
    background-color: white;
    height: 50px;
    margin-top: 45px;
}

.foot-text{
    font-size: 12px;
    color: black;
    line-height: 50px;
}

#right{
    float: right;
    color: #aac284;
    margin-right: 15px;
}

.foot-text{
    display: inline-block;
}

#left{
    margin-left: 15px;
}

span.menu-numbers{
    background-color: #344348;
    color: white;
    height: 13px;
    border: 1px solid #344348;
    border-radius: 7px;
    font-size: 8px;
    padding: 5px;
}

.facebook{
    float: right;
    color: white;
    margin-top: 10px;
    margin-right: 10px;
}

.items ul{
    float: left;
}


@media only screen and (max-width: 480px) {
    .container{
        width: 480px;
    }
    .header-image img {
        height: 200px;
        width: 480px;
        margin-top: 15px;
    }
}
#navig{
    margin-left: 120px;
    background-color: #d4d4d4;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
}

#navig2{
    margin-left: 110px;
    background-color: #d4d4d4;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
}

